{% extends "base.html" %} {% block content %}
<form method="post" enctype="multipart/form-data">
  <style type="text/css">
    body {
      padding-left: 11em;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: purple;
      background-color: #ffe4c4;
    }
    ul.navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 2em;
      left: 1em;
      width: 9em;
    }
    h1 {
      font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    }
    ul.navbar li {
      background: white;
      margin: 0.5em 0;
      padding: 0.3em;
      border-right: 1em solid black;
    }
    ul.navbar a {
      text-decoration: none;
    }
    a:link {
      color: blue;
    }
    a:visited {
      color: purple;
    }

    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      margin: 0 0 1em 0;
      caption-side: top;
    }
    caption,
    td,
    th {
      padding: 0.3em;
    }
    tbody {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    tbody th,
    tfoot th {
      border: 0;
    }
    th.name {
      width: 25%;
    }
    th.location {
      width: 20%;
    }
    th.lasteruption {
      width: 30%;
    }
    th.eruptiontype {
      width: 25%;
    }
    tfoot {
      text-align: center;
      color: #555;
      font-size: 0.8em;
    }
  </style>
  {% csrf_token %} {{ form.as_p }}

  <button type="submit" class="btn btn-primary">guarda</button>
</form>
{% endblock content %}
